// TIKETTISOVELLUKSEN ETUSIVU

doctype html
head
    title='Palvelinohjelmointi - Osio 9 - Lähetä tiketti'
    link(rel='stylesheet', href='https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css', integrity='sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T', crossorigin='anonymous')
    link(rel='stylesheet', href='styles.css') 
body.container

    div(id='menu')

        // Logo liitetty navigaatioon
        img(src='../static/images/lappari.jpg') 
        p='Ylläpito'
        div(class='menuitem')
            p
            a(href='/') Tiketit
        div(class='menuitem')
            p
            a(href='/tiedotteet') Tiedotteet
        div(class='menuitem')
            p
            a(href='/yhteystiedot') Yhteystiedot
            
    h1='Lähetä tiketti'
    p='Lähetä tiketti ylläpidolle. Otamme sen työn alle mahdollisimman pian.' 
    br

    form#form(action='/', method='POST')
        
        div.form-group
            label
                b Nimi
            input.form-control(type='text', name='name' required)
            
            label
                b Sähköposti
            input.form-control(type='email', name='email' required)
            
            // Syötetään valmiiksi "Odottaa työmääräystä" piilotetussa kentässä
            input.form-control(type='hidden', name='status' value='Odottaa työmääräystä')
            
            label
                b Aihe
            input.form-control(type='text', name='title' required)
            
            label
                b Viesti
            
            textarea.form-control(name="message", cols="30", rows="10" required)
            
            input.form-control(type='hidden', name='staff' value='Ei nimetty')
           
            p
                i Kaikki kentät ovat pakollisia!
            button.btn-btn-primary(type='submit') Lähetä
    br
    a(href='/palautteet') 
        b Selaa tikettejä